* {margin: 0; padding: 0;}

.homehead{

    background:orange ;
    width: 100%;
    margin-top: 100px;
    height:50vh;
    position: relative;
    padding: 0;
    margin: 0;
   
}

.abouthead{

    background:orange ;
    width: 100%;
    margin-top: 100px;
    height:50vh;
    position: relative;
    padding: 0;
    margin: 0;
   
}

.contacthead{

    background:orange ;
    width: 100%;
    margin-top: 100px;
    height:50vh;
    position: relative;
    padding: 0;
    margin: 0;
   
}
.tx{
    margin-top: 50px;
}
